

/* This is my first proper css file */

body{
    background-color: rgb(21, 21, 44);
    max-width: 1000px;
    margin: auto;
}

h1{

    color: rgb(240, 182, 73);
    font-family: 'Poppins', sans-serif ;
}

h3{
    color: #f7d2fa;
    font-family: 'Poppins', sans-serif ;
}

h4{
    color: #95b5fcd5;
    font-family: 'Poppins', sans-serif ;
}

p{font-family: 'Poppins', sans-serif;
color: rgb(255, 255, 255);
}

.chart{
    background-color: white;
    width:auto;
    border-width: 2px;
    border-style: solid;
    border-radius: auto;
    border-color: #a6bff5a6;
    margin: auto;
}
