



/* This is my first proper css file */

body{
    background-color: rgb(41, 28, 66);
    max-width: 450px;
    margin: auto;
}

h1{

    color: rgba(255, 255, 255, 0.733);
    font-family: 'Poppins', sans-serif ;
}

h3{
    color: #ffffffa6;
    font-family: 'Poppins', sans-serif ;
}

p{font-family: 'Poppins', sans-serif;
color: rgb(255, 255, 255);
}

.chart{
    background-color: white;
    width:auto;
    border-width: 1px;
    border-style: solid;
    border-radius: auto;
    border-color: rgb(142, 112, 192);
}
