



/* This is my first proper css file */

body{
    background-color: powderblue;
    max-width: 450px;
    margin: auto;
}

h1{

    color: rgb(203, 218, 170);
    font-family: 'Poppins', sans-serif ;
}

h3{
    color: #598655;
    font-family: 'Poppins', sans-serif ;
}

p{font-family: 'Poppins', sans-serif;
color: rgb(255, 255, 255);
}

.chart{
    background-color: white;
    width:auto;
    border-width: auto;
    border-style: auto;
    border-radius: 5px;
    border-color: blue;
}

